
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Api</title>
</head>
<body>
    <div class="container">
        <div class="hidden-xs col-sm-3">
            <div class="fading-side-menu jumptarget" data-spy="affix" data-offset-top="0">
                <h5>Table of Contents</h5><hr class="no-margin">
                <ul class="list-unstyled">
                    <li>
                        <a href="#intro">
                            <span class="fa fa-angle-double-right text-primary"></span>Introduction
                        </a>
                    </li>
                    <li>
                        <a href="#getting-started">
                            <span class="fa fa-angle-double-right text-primary"></span>Getting started
                        </a>
                    </li>
                    <li>
                        <span class="fa fa-angle-double-right text-primary"></span>Available Endpoints
                    </li>
                    <li>
                        <a href="#Item-Art">
                            <span class="fa fa-angle-double-right text-primary"></span>Item Art
                        </a>
                    </li>
                    <li>
                        <a href="#Gump-Art">
                            <span class="fa fa-angle-double-right text-primary"></span>Gump Art
                        </a>
                    </li>
                    <li>
                        <a href="#Multi-Art">
                            <span class="fa fa-angle-double-right text-primary"></span>Multi Art
                        </a>
                    </li>
                    <li>
                        <a href="#Animations">
                            <span class="fa fa-angle-double-right text-primary"></span>Animations
                        </a>
                    </li>
                    <li>
                        <a href="#Sounds">
                            <span class="fa fa-angle-double-right text-primary"></span>Sounds
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">

            <h1 id="intro" class="jumptarget">Introduction</h1>
            <p>
                This web API was built for the community at <a href="http://servuo.com">ServUO</a>. It allows one to create web pages and other apps that include resources from the game Ultima Online very easily without having to host the thousands of images and resources one might have to otherwise. Especially if you are going to hue the image!
            </p>
            <p>This API is free for anyone to use. However, be forewarned that while this API is hosted on in my opinion a service that is more than capable to handle it I cannot offer 100% availability. My hope is that it will be able to handle the wants of the community but if you create an application that is pulling thousands of requests to the API per day it might be better if you host the API yourself. It is all available at github.</p>

            <h4 id="getting-started" class="jumptarget">Getting started</h4>
            <p>Getting started with this API is simple. You just have to grab the resource using one of the available endpoints which are all documents on this site. Depending on your programming language you would do this in different ways. For instance with PHP you might use curl or with C# you would use a http client. Stay tuned for examples.</p>
            <h1>Available EndPoints</h1>
            <h4 id="Item-Art" class="jumptarget">Item Art</h4>
            <div class="panel panel-default">
                <div class="panel-heading">Available EndPoints : http://Services.ServUO.com/uoapi/item/ </div>
                <ul class="list-group">
                    <li class="list-group-item">/Int:ID/</li>
                    <li class="list-group-item">/Int:ID/Int:Hue/</li>
                </ul>
            </div>

            <h4 id="Gump-Art" class="jumptarget">Gump Art</h4>
            <div class="panel panel-default">
                <div class="panel-heading">Available EndPoints :  =http://Services.ServUO.com/uoapi/gump/  </div>
                <ul class="list-group">
                    <li class="list-group-item">/Int:ID/</li>
                    <li class="list-group-item">/Int:ID/Int:Hue/</li>
                </ul>
            </div>

            <h4 id="Multi-Art" class="jumptarget">Multi Art</h4>
            <div class="panel panel-default">
                <div class="panel-heading">Available EndPoints : http://Services.ServUO.com/uoapi/multi/ </div>
                <ul class="list-group">
                    <li class="list-group-item">/Int:ID/</li>
                    <li class="list-group-item">/Int:ID/Int:Hue/</li>
                </ul>
            </div>

            <h4 id="Animations" class="jumptarget">Animations</h4>
            <div class="panel panel-default">
                <div class="panel-heading">Available EndPoints : http://Services.ServUO.com/uoapi/anim/ </div>
                <ul class="list-group">
                    <li class="list-group-item">/Int:ID/</li>
                    <li class="list-group-item">/Int:ID/Int:Hue/</li>
                    <li class="list-group-item">/Int:ID/Int:Action/Int:Direction/</li>
                    <li class="list-group-item">/Int:ID/Int:Action/Int:Direction/Bool:FirstFrameOnly/</li>
                    <li class="list-group-item">/Int:ID/Int:Action/Int:Direction/Bool:FirstFrameOnly/Int:Hue/</li>
                    <li class="list-group-item">/Int:ID/Int:Action/Int:Direction/Bool:FirstFrameOnly/Int:Hue/Int:RepeatCount/</li>
                </ul>
            </div>
            <p>Note that for RepeatCount 0 is forever and -1 is just once.</p>

            Example:
            <div class="well well-lg">
                &lt;img src=&quot;http://Services.ServUO.com/uoapi/anim/987/35&quot;/&gt;
            </div>
            Result:
            <img src="http://Services.ServUO.com/uoapi/anim/987/35"/>

            <div class="well well-lg">
                &lt;img src=&quot;http://Services.ServUO.com/uoapi/anim/1/3/2/false/-1&quot; /&gt;
            </div>
            Result:
            <img src="http://Services.ServUO.com/uoapi/anim/1/3/2/false/0/-1" />

            <h4 id="Sounds" class="jumptarget">Sounds</h4>
            <div class="panel panel-default">
                <div class="panel-heading">Available EndPoints : http://Services.ServUO.com/uoapi/sound/ </div>
                <ul class="list-group">
                    <li class="list-group-item">/ID/</li>
                </ul>
            </div>

            Example:
            <div class="well well-lg"> &lt;audio controls&gt;<br/>
                &lt;source src="http://suoservices.azurewebsites.net/uoapi/sound/67" type="audio/mpeg"&gt;<br/>
                Your browser does not support the audio element.<br/>
                &lt;/audio&gt;
            </div>
            Result:
            <audio controls>
                <source src="http://suoservices.azurewebsites.net/uoapi/sound/67" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>

        </div>
    </div>
</html>
