@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServUO Art Api</title>
</head>
<body>
<div><br/>
    <p>Welcome to the ServUO art API. Using this api you can link and embed almost all Ultima Online assets including item art, animations and even sounds. While this API is hosted on a server that I feel is more than capable of handeling heavy traffic I cannot guarentee uptime</p>
    <p>This is an open source project. You can find the source at: </p>
    <br/><br/>
    <p>If you wish to donate to help the ServUO project out you can do so by paypal by sending anything you can afford to dmurphy@Servuo.com</p>

</div>
</body>
</html>
